<!DOCTYPE html
					PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type"
				content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible"
				content="IE=edge" />
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">

	<title>Marka</title>

	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			font-optical-sizing: auto;
			font-weight: 300;
			max-width: 600px;
			width: 100%;
			font-style: normal;
			font-style: normal;
			padding-right: 15px;
			padding-left: 15px;
			width: 100%;
			margin: 0;
			background-color: #fff;
		}

		table {
			border-spacing: 0;
			text-align: 'center';
			width: 100%;
			padding-top: 20px;
			margin: 0 auto;
			border-collapse: collapse;
		}

		tr.separator {
			height: 20px;
			width: 100%;
		}

		td {
			width: auto;
			padding: 0;
			color: #000;
		}

		td.text-center {
			text-align: center;
		}

		td.text-left {
			text-align: left;
		}

		td.text-right {
			text-align: right;
		}

		td.content {
			width: 100%;
			padding: 20px;
			border-radius: 4px;
			background-color: #F6F6F6;
		}

		td.col-1 {
			width: 50%
		}

		ul.unstyled-list {
			padding-left: 0;
			list-style: none;
		}

		img {
			border: 0;
		}

		a {
			font-size: 14px;
			font-weight: 500;
			color: #000;
			text-decoration: none;
			transition: color 0.3s ease;
		}

		a:hover {
			color: #90677E
		}

		span.space {
			display: inline-block;
			width: 5px;
		}

		strong {
			font-size: 14px;
			font-weight: 500
		}
	</style>
</head>

<body>
	<table>
		<tr class="separator"></tr>
		<tr>
			<td class="text-center">

			</td>
		</tr>

		<tr class="separator"></tr>

		<tr class="content-row">
			<td class="content">
				{{{message}}}
			</td>
		</tr>

	</table>

	<table>
		<tr class="separator"></tr>
		<tr>
			<td class="col-1">
				<a href="#"
					 target="_blank">
					Facebook
				</a>

				<span class="space"></span>

				<a href="#"
					 target="_blank">
					Instagram
				</a>
			</td>

			<td class="text-right col-1">
				<ul class="unstyled-list">
					<li>
						<a href="tel:+380501234567">+380501234567</a>
					</li>
					<li>
						<a href="mailto:admin@marka.com.ua">admin@marka.com.ua</a>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</body>

</html>